    <div>
        <form action="/api/inf" method="post">



        <input autocapitalize="none" type="text" placeholder="username" name="username">

        <input autocapitalize="none" type="password" placeholder="Enter your password" name="password">
    
        <input type="submit" class="button" value="Login">
      </form>
    </div>
      <style>
        *{
          font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
        }
        div{
        display: inline-block;
        }
        
        
      </style>