<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <link rel="stylesheet" href="./Style1.css">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Login</header>
                {{#if msg}}
          <p class="{{msg_type}}">{{msg}}</p>
          {{/if}}
      <form action="/login" method="post">
        <input autocapitalize="none" type="text" placeholder="username" name="username">
        <input autocapitalize="none" type="password" placeholder="Enter your password" name="password">
    
        <input type="submit" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
     <a href="./signup"> Signup</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
