<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./Style1.css">
</head>
<body>
    
  <div class="container">
    <div class="login form">
          <header>Signup</header>
      <form method="post" id="signupform">
        <input type="text" placeholder="Enter your name" name="name">
        <input type="text" placeholder="Enter your username" name="username">
        <input type="password" placeholder="Enter your password" name="password">
        <input type="submit" class="button" >
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
         <a href=Login>Login</a>
        </span>
      </div>
    </div>
    </div>
    
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="./Validation.js"></script>
</body>
</html>